<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>IJRC Landing Page</title>
  <link rel="stylesheet" href="styles/style.css">
</head>

<body>
  <header>
    <div class="container">
      <div class="logo">
        <image src="images/banner.png"></image>
      </div>
    </div>
  </header>

  <div class="popup">
    <div class="wrapper">
      <div class = "text">
        <form action= onSubmit()>
        <div class="violation">
          <p>I believe the violation I faced is under the category: </p>

          <select name="violation">
              {% for category in categories %}
              <option value="hr_1">{{ category }}</option>
              {% endfor %}
          </select>

          <p>Specifically within the area of: </p>
        </div>

        <div class="area">
          <select name="Month">
              {% for subcategory in subcategories %}
              <option value="hr_1">{{ subcategory }}</option>
              {% endfor %}
          </select>
        <p>On the basis of: </p>
        </div>
        <div class="discrimination">
            <select name="Month">
                {% for discrimination in discrimination %}
                <option value="hr_1">{{ discrimination }}</option>
                {% endfor %}
            </select>
        </div>>
        </form>
        <label class="container">ADD ANOTHER CATEGORY
            <input type="checkbox" checked="checked">
            <span class="checkmark"></span>
        </label>
        <div>
          <h5> (Select a maximum of 3 categories total) </h5>
        </div>
        <div>
          <button type="submit" class="button2">NEXT: FIND RESOURCES</button>
       </div>
    </div>
  </div>

{% endblock %}
</div>
</body>
<script>
  function onSubmit() {
    var init = {
      "month": document.getElementById("Month").value,
      "day": document.getElementById("Day").value,
      "year": document.getElementById("Year").value,
      "country": document.getElementById("country").value,
      "category": document.getElementById("category").value,
      "subcategory": document.getElementById("subcategory").value,
      "discrimination": document.getElementById("discrimination").value}
    $.ajax({
      type: "POST",
      url: "/results",
      data: JSON.stringify(init),
      success: function(response){
          if (response.redirect) {
            window.location.href = response.redirect;
          }
        },
        dataType: "json",
        contentType : "application/json"
      });
    }
  </script>

</html>

