<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>IJRC Landing Page</title>
  <link rel="stylesheet" href="styles/landing.css">
</head>

<body>
  <header>
    <div class="container">
      <div class="logo">
        <image src="images/banner.png"></image>
      </div>
    </div>
  </header>

  <div class="popup">
    <div class="wrapper">
      <div class = "text">
        <h1>Forum Selector</h1>
        <hr/>
        <form action = dateSubmit()>
        <p>I want to know where I can report a violation of my human rights that took place in country</p>

        <select name="country">
            {% for country in countries %}
            <option value="hr_1">{{ country }}</option>
            {% endfor %}
        </select>

        <p>on the following date</p>
        <div class="Date">
          <select name="Month">
              {% for month in months %}
              <option value="hr_1">{{ month }}</option>
              {% endfor %}
          </select>
          <select name="Day">
              {% for x in range(31) %}
              <option value="hr_1">{{ x + 1 }}</option>
              {% endfor %}
          </select>
          <select name="Year">
              {% for x in range(30) %}
              <option value="hr_1">{{ x + 1990 }}</option>
              {% endfor %}
          </select>
        </div>
        </form>
        <button type="submit">NEXT: CATEGORY OF VIOLATION</button>
       </div>
    </div>
  </div>

</body>
<script>
  function dateSubmit() {
    var init = {
      "month": document.getElementById("Month").value,
      "day": document.getElementById("Day").value,
      "year": document.getElementById("Year").value,
      "country": document.getElementById("country").value,
      "category": "",
      "subcategory": "",
      "discrimination": ""}
    $.ajax({
      type: "POST",
      url: "/index",
      data: JSON.stringify(init),
      success: function(response){
          if (response.redirect) {
            window.location.href = response.redirect;
          }
        },
        dataType: "json",
        contentType : "application/json"
      });
    }
  </script>

</html>