<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>IJRC Landing Page</title>
  <link rel="stylesheet" href="styles/landing.css">
</head>

<body>
  <header>
    <div class="container">
      <div class="logo">
        <image src="images/banner.png"></image>
      </div>
    </div>
  </header>

  <div class="popup">
    <div class="wrapper">
      <div class = "text">
        <h1>Forum Selector</h1>
        <hr/>

        <p>I want to know where I can report a violation of my human rights that took place in country</p>

        <select name="country">
            <option value="hr_1">Country</option>
            <option value="hr_2">Rigths</option>
            <option value="hr_3">Violation</option>
        </select>

        <p>on the following date</p>
        <div class="Date">
          <select name="Month">
              <option value="hr_1">MONTH</option>
              <option value="hr_2">Rigths</option>
              <option value="hr_3">Violation</option>
          </select>
          <select name="Day">
              <option value="hr_1">DAY</option>
              <option value="hr_2">Rigths</option>
              <option value="hr_3">Violation</option>
          </select>
          <select name="Year">
              <option value="hr_1">YEAR</option>
              <option value="hr_2">Rigths</option>
              <option value="hr_3">Violation</option>
          </select>
        </div>
        <button>NEXT: CATEGORY OF VIOLATION</button>
       </div>
    </div>
  </div>

</body>
</html>
