{% import 'macros/page_macros.html' as page %}
{% extends 'layouts/base.html' %}

{% block content %}

<h2>Search</h2>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% from "macros/_formhelpers.html" import render_field %}
<form method=post>
  <dl>
    {{ render_field(form.search) }}
  </dl>
  <p><input type=submit value=Search>
</form>

{% endblock %}

