body {
    font-family: Helvetica,sans-serif;
    font-size: 14px;
    
}

// Semantic UI breakpoints
$mobile-breakpoint:        768px;
$tablet-breakpoint:        992px;
$small-monitor-breakpoint: 1200px;

// General nav
nav {
    margin-bottom: 40px !important;
    background-color: #FFFFFF;
}

// Desktop nav
.ui.fixed.main.menu {
    background-color: #FFFFFF;
    min-height: 4em;
}

.ui.fixed.main.menu .right.menu > .item {
    background-color: #FFFFFF;
}

// Mobile nav
nav .mobile.only.row {
    .ui.vertical.menu {
        margin-top: 40px;
        display: none;
    }
}


// Flashes
.flashes > .ui.message:last-of-type {
    margin-bottom: 2rem;
}

// Tables
table.selectable tr:hover {
    cursor: pointer !important;
}

//=====================HOME========================
//================================================

  h1 {
    font-weight: lighter;
  }
  
  
  .popup {
    position:fixed;
    left:50%;
  }
  
  .popup .wrapper {
    position:relative;
    left:-50%;
    /*popup-styles*/
    background-color:#FFFFFF;
    border-radius:10px;
  }
  
  .text {
    text-align: center;
    margin: 100px 0px;
    padding: 40px 90px
  }
  
  .button1 {
    display: inline;
    background-color: #36568B;
    color: white;
    font-size: 10px;
    height: 30px;
    border-radius:10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .button2 {
    display: inline;
    background-color: #36568B;
    color: white;
    font-size: 10px;
    height: 30px;
    border-radius:10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .center-on-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  
  h1 {
    text-align: center;
  }
  
  .selectdiv:after {
    content: '<>';
    font: 17px "Consolas", monospace;
    color: #333;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 11px;
    /*Adjust for position however you want*/
  
    top: 18px;
    padding: 0 0 2px;
    border-bottom: 1px solid #999;
    /*left line */
  
    position: absolute;
    pointer-events: none;
  }
  
  .violation {
      display: inline;
  }
  
  select {
    display: inline;
    position: static;
    width: 100%;
    max-width: 120px;
    
    padding: 0px 24px;
    font-size: 13px;
    line-height: 1.75;
    margin-left: 40%;
    color: #2E4459;
    background-image: none;
    border: 2px solid #2E4459;
  }
  
  .area select {
    display: inline-block;
    width: 90px;
    margin: 5px 0px;
  }
  
  .violation select {
    display: inline;
    position: static;
    width: 100%;
    max-width: 120px;
    height: 30px;
    padding: 0px 24px;
    font-size: 13px;
    line-height: 1.75;
    margin-left: 0%;
    color: #2E4459;
    background-image: none;
    border: 2px solid #2E4459;
  }
  
  /*.container {
      .container input:checked ~ .checkmark:after {
        display: block;
  }*/
  
  
  