@media -sass-debug-info{filename{}line{font-family:\000031}}
body {
  font-family: Helvetica,sans-serif;
  font-size: 14px;
  background-color: #2E4459;
}

@media -sass-debug-info{filename{}line{font-family:\0000314}}
nav {
  margin-bottom: 40px !important;
  background-color: #FFFFFF;
}

@media -sass-debug-info{filename{}line{font-family:\0000320}}
.ui.fixed.main.menu {
  background-color: #FFFFFF;
  min-height: 4em;
}

@media -sass-debug-info{filename{}line{font-family:\0000325}}
.ui.fixed.main.menu .right.menu > .item {
  background-color: #FFFFFF;
}

@media -sass-debug-info{filename{}line{font-family:\0000331}}
nav .mobile.only.row .ui.vertical.menu {
  margin-top: 40px;
  display: none;
}

@media -sass-debug-info{filename{}line{font-family:\0000339}}
.flashes > .ui.message:last-of-type {
  margin-bottom: 2rem;
}

@media -sass-debug-info{filename{}line{font-family:\0000344}}
table.selectable tr:hover {
  cursor: pointer !important;
}

@media -sass-debug-info{filename{}line{font-family:\0000351}}
h1 {
  font-weight: lighter;
}

@media -sass-debug-info{filename{}line{font-family:\0000355}}
.popup {
  position: fixed;
  left: 50%;
}

@media -sass-debug-info{filename{}line{font-family:\0000360}}
.popup .wrapper {
  position: relative;
  left: -50%;
  /*popup-styles*/
  background-color: #FFFFFF;
  border-radius: 10px;
}

@media -sass-debug-info{filename{}line{font-family:\0000368}}
.text {
  text-align: center;
  padding: 40px 90px;
}

@media -sass-debug-info{filename{}line{font-family:\0000373}}
.optionText {
  padding: 0px 0px;
}

@media -sass-debug-info{filename{}line{font-family:\0000377}}
.button1 {
  display: inline;
  background-color: #36568B;
  color: white;
  font-size: 10px;
  height: 30px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

@media -sass-debug-info{filename{}line{font-family:\0000388}}
.button2 {
  display: inline;
  background-color: #36568B;
  color: white;
  font-size: 10px;
  height: 30px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

@media -sass-debug-info{filename{}line{font-family:\0000399}}
.center-on-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media -sass-debug-info{filename{}line{font-family:\00003106}}
h1 {
  text-align: center;
}

@media -sass-debug-info{filename{}line{font-family:\00003110}}
.selectdiv:after {
  content: '<>';
  font: 17px "Consolas", monospace;
  color: #333;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 11px;
  /*Adjust for position however you want*/
  top: 18px;
  padding: 0 0 2px;
  border-bottom: 1px solid #999;
  /*left line */
  position: absolute;
  pointer-events: none;
}

@media -sass-debug-info{filename{}line{font-family:\00003130}}
.violation {
  display: inline;
}

@media -sass-debug-info{filename{}line{font-family:\00003134}}
select {
  display: inline;
  position: static;
  width: 100%;
  max-width: 120px;
  padding: 0px 24px;
  font-size: 13px;
  line-height: 1.75;
  margin-left: 40%;
  color: #2E4459;
  background-image: none;
  border: 2px solid #2E4459;
}

@media -sass-debug-info{filename{}line{font-family:\00003149}}
.area select {
  display: inline-block;
  width: 90px;
  margin: 5px 0px;
}

@media -sass-debug-info{filename{}line{font-family:\00003155}}
.violation select {
  display: inline;
  position: static;
  width: 100%;
  max-width: 120px;
  height: 30px;
  padding: 0px 24px;
  font-size: 13px;
  line-height: 1.75;
  margin-left: 0%;
  color: #2E4459;
  background-image: none;
  border: 2px solid #2E4459;
}

/*.container {
    .container input:checked ~ .checkmark:after {
      display: block;
}*/
